{% if star.published %}
    <article>
        <img src="{{ star.image }}" height="150px">
        <h2 style="color:{{ star.color }};"> {{ star.title }} </h2>
        <p> {{ star.description }}</p>
        <cite> publié le {{ star.publishedDate | date("d/m/Y") }}</cite>
    </article>
{% else %}
    <p>Article non publié</p>
{% endif %}